# This is Jeopardy!

#### Overview

This project is slightly different than others you have encountered thus far. Instead of a step-by-step tutorial, this project contains a series of open-ended requirements which describe the project you'll be building. There are many possible ways to correctly fulfill all of these requirements, and you should expect to use the internet, Codecademy, and/or other resources when you encounter a problem that you cannot easily solve.

#### Project Goals

You will work to write several functions that investigate a dataset of _Jeopardy!_ questions and answers. Filter the dataset for topics that you're interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion!

## Prerequisites

In order to complete this project, you should have completed the Pandas lessons in the <a href="https://www.codecademy.com/learn/paths/analyze-data-with-python">Analyze Data with Python Skill Path</a>. You can also find those lessons in the <a href="https://www.codecademy.com/learn/data-processing-pandas">Data Analysis with Pandas course</a> or the <a href="https://www.codecademy.com/learn/paths/data-science/">Data Scientist Career Path</a>.

Finally, the <a href="https://www.codecademy.com/learn/practical-data-cleaning">Practical Data Cleaning</a> course may also be helpful.

## Project Requirements

1. We've provided a csv file containing data about the game show _Jeopardy!_ in a file named `jeopardy.csv`. Load the data into a DataFrame and investigate its contents. Try to print out specific columns.

   Note that in order to make this project as "real-world" as possible, we haven't modified the data at all - we're giving it to you exactly how we found it. As a result, this data isn't as "clean" as the datasets you normally find on Codecademy. More specifically, there's something odd about the column names. After you figure out the problem with the column names, you may want to rename them to make your life easier for the rest of the project.
   
   In order to display the full contents of a column, we've added this line of code for you:
   
   ```py
   pd.set_option('display.max_colwidth', None)
   ```

In [70]:
import pandas as pd
pd.set_option('display.max_colwidth', None)
df = pd.read_csv("jeopardy.csv")
df = df.reset_index()
df.columns = ["episode", "date", "double_jeopardy", "category", "reward", "question", "answer"]
df

,episode,date,double_jeopardy,category,reward,question,answer
0,5135,2006-12-29,Double Jeopardy!,MAO INHIBITORS,$1200,"Shortly after Mao's death in 1976, the National Party Congress declared this ""Revolution"" had ended",the Cultural Revolution
1,5135,2006-12-29,Double Jeopardy!,GRAB BAG,$1200,"A second is defined as the period of 9,192,631,770 oscillations of this element, symbl Cs",cesium
2,5135,2006-12-29,Double Jeopardy!,UNITING THE STATES & CITIES,"$4,000","The ""Land Of Enchantment"" state hooks up with South Carolina's capital; enjoy...",New Mexicolumbia
3,5135,2006-12-29,Double Jeopardy!,"YOU CAN CALL ME ""AL""",$1200,A Vegas casino bears the name of this character from the Tales of Scheherazade,Aladdin
4,5135,2006-12-29,Double Jeopardy!,THE MIDDLE AGES,$1600,"After the Moors were defeated at Tolosa in 1212, their rule was restricted to this small kingdom in southern Spain",Grenada
...,...,...,...,...,...,...,...
1561,4999,2006-05-11,Double Jeopardy!,RIDDLE ME THIS,$2000,This Puccini opera turns on the solution to 3 riddles posed by the heroine,Turandot
1562,4999,2006-05-11,Double Jeopardy!,"""T"" BIRDS",$2000,"In North America this term is properly applied to only 4 species that are crested, including the tufted",a titmouse
1563,4999,2006-05-11,Double Jeopardy!,AUTHORS IN THEIR YOUTH,$2000,"In Penny Lane, where this ""Hellraiser"" grew up, the barber shaves another customer--then flays him alive!",Clive Barker
1564,4999,2006-05-11,Double Jeopardy!,QUOTATIONS,$2000,"From Ft. Sill, Okla. he made the plea, Arizona is my land, my home, my father's land, to which I now ask to... return""",Geronimo
1565,4999,2006-05-11,Final Jeopardy!,HISTORIC NAMES,None,A silent movie title includes the last name of this 18th c. statesman & favorite of Catherine the Great,Grigori Alexandrovich Potemkin

2. Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to our function, the function returned a DataFrame of 49 rows. Every row had the strings `"King"` and `"England"` somewhere in its `" Question"`.

   Test your function by printing out the column containing the question of each row of the dataset.

In [8]:
def word_in_question(df):
    return df[df.question.str.contains("alaska")]
    

print(word_in_question(df))

     episode        date   double_jeopardy           category reward  \
189     3589  2000-03-23         Jeopardy!       STRAIT-EN UP   $100
240     3589  2000-03-23  Double Jeopardy!  SMALL-TOWN CINEMA  $1000
828     1983  1993-03-31  Double Jeopardy!    TOUGH TV TRIVIA   $600

                                                                                                          question  \
189                                                                                        between alaska & russia
240  in this 1999 movie, the "rocky" of hockey, an alaska town's amateur hockey team takes on the new york rangers
828                                                                "northern exposure" is set in this alaskan town

              answer
189    Bering Strait
240  Mystery, Alaska
828           Sicily

3. Test your original function with a few different sets of words to try to find some ways your function breaks. Edit your function so it is more robust.

   For example, think about capitalization. We probably want to find questions that contain the word `"King"` or `"king"`.
   
   You may also want to check to make sure you don't find rows that contain substrings of your given words. For example, our function found a question that didn't contain the word `"king"`, however it did contain the word `"viking"` &mdash; it found the `"king"` inside `"viking"`. Note that this also comes with some drawbacks &mdash; you would no longer find questions that contained words like `"England's"`.

In [119]:
def word_in_question(df, word):
    df['question'] = df.question.str.lower()
    # df['answer'] = df.answer.str.lower()
    # words = words.str.lower()
    return (df[df.question.str.contains(word)])

print(word_in_question(df, "who"))

      episode        date   double_jeopardy                     category  \
6        5135  2006-12-29  Double Jeopardy!               MAO INHIBITORS
29       3400  1999-05-21         Jeopardy!               HOW TO FAKE IT
34       3400  1999-05-21         Jeopardy!       FUN COUPLES IN HISTORY
38       3400  1999-05-21         Jeopardy!               HOW TO FAKE IT
39       3400  1999-05-21  Double Jeopardy!   THE HOLLYWOOD WALK OF FAME
...       ...         ...               ...                          ...
1492     5195  2007-03-23  Double Jeopardy!             HAIL TO THE CHEF
1514     4999  2006-05-11         Jeopardy!         IT'S NOT ALEX TREBEK
1517     4999  2006-05-11         Jeopardy!  THE NEW YORK TIMES BUSINESS
1526     4999  2006-05-11         Jeopardy!         IT'S NOT ALEX TREBEK
1529     4999  2006-05-11         Jeopardy!  THE NEW YORK TIMES BUSINESS

     reward  \
6     $1600
29     $300
34     $500
38     $500
39     $200
...     ...
1492  $1600
1514   $400
1517   $600
1526   $800
1529  $1000

                                                                                                                                                                                                                                                         question  \
6                                                                                                                                                                                      in 1927 mao battled this leader of the kuomintang who followed sun yat-sen
29                                                                                                                                                                                       a musician who misplaces his printed music must "play by" this body part
34                                                                                                                                                 gruoch was the real name of this scottish "lady" who, according to shakespeare, made her husband commit murder
38                                                                                                                                                                of the sales rep, accountant or sammy sosa, the one on the company softball team who's a ringer
39                                                                                                                                                                 one of the musical stars on the walk of fame is this trumpeter who appeared in "hello, dolly!"
...                                                                                                                                                                                                                                                           ...
1492                                                                                                                  you can cook like <a href="http://www.j-archive.com/media/2007-03-23_dj_24.jpg" target="_blank">this</a> man who wrote "the joy of wokking"
1514                   it's not me, it's <a href="http://www.j-archive.com/media/2006-05-11_j_12.jpg" target="_blank">this</a> <a href="http://www.j-archive.com/media/2006-05-11_j_12a.jpg" target="_blank">character</a>, who spoke if you pulled a few strings
1517                                                                                                                                                                      wal-mart has been compared to this early grocery chain whose name goes back to 2 oceans
1526  it's not me in <a href="http://www.j-archive.com/media/2006-05-11_j_17.jpg" target="_blank">the photo</a> but <a href="http://www.j-archive.com/media/2006-05-11_j_17a.jpg" target="_blank">this</a> man, who was second in his class at west point in 1829
1529                                                                                                                                                         a times writer's "scandalot" featured maurice greenberg, who resigned as ceo of this insurance giant

                answer  reward_float
6      Chiang Kai-shek        1600.0
29                 ear         300.0
34        Lady Macbeth         500.0
38          Sammy Sosa         500.0
39     Louis Armstrong         200.0
...                ...           ...
1492      (Martin) Yan        1600.0
1514  Charlie McCarthy         400.0
1517               A&P         600.0
1526     Robert E. Lee         800.0
1529               AIG        1000.0

[68 rows x 8 columns]

4. We may want to eventually compute aggregate statistics, like `.mean()` on the `" Value"` column. But right now, the values in that column are strings. Convert the`" Value"` column to floats. If you'd like to, you can create a new column with float values.

   Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the "difficulty" of certain topics. For example, what is the average value of questions that contain the word `"King"`?
   
   Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

In [118]:
df['reward_float'] = df.reward.apply(lambda row: float(row.strip('$ , ').replace(",", "").replace("None", "0")))
def value_of_word(word):
    question_word = word_in_question(df, word)
    print(str.format("There are {} questions with the word \"{}\" that have a mean reward of ${}", question_word.reward_float.count(), word, question_word.reward_float.mean()))
    
value_of_word("who")

There are 68 questions with the word "who" that have a mean reward of $708.8235294117648

5. Write a function that returns the count of unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, we could then find all of the unique answers to those questions. The answer "Henry VIII" appeared 55 times and was the most common answer.

6. Explore from here! This is an incredibly rich dataset, and there are so many interesting things to discover. There are a few columns that we haven't even started looking at yet. Here are some ideas on ways to continue working with this data:

 * Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word `"Computer"` compared to questions from the 2000s?
 * Is there a connection between the round and the category? Are you more likely to find certain categories, like `"Literature"` in Single Jeopardy or Double Jeopardy?
 * Build a system to quiz yourself. Grab random questions, and use the <a href="https://docs.python.org/3/library/functions.html#input">input</a> function to get a response from the user. Check to see if that response was right or wrong.

## Solution

7. Compare your program to our <a href="https://content.codecademy.com/PRO/independent-practice-projects/jeopardy/jeopardy_solution.zip">sample solution code</a> - remember, that your program might look different from ours (and probably will) and that's okay!

8. Great work! Visit <a href="https://discuss.codecademy.com/t/this-is-jeopardy-challenge-project-python-pandas/462365">our forums</a> to compare your project to our sample solution code. You can also learn how to host your own solution on GitHub so you can share it with other learners! Your solution might look different from ours, and that's okay! There are multiple ways to solve these projects, and you'll learn more by seeing others' code.